[submodule "armadillo-code"]
	path = armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
